{
  "presets": ["@babel/env", "@babel/react", "next/babel"],

  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src",
          "style": "./style",
          "components": "./src/components"
        }
      }
    ],
    // "emotion",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "less"
      }
    ],
    [
      "inline-import",
      {
        "extensions": [".css", ".png", ".jpg"]
      }
    ],
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }]
  ]
}
