@import './styleTools.scss';
@import './pages/pages.scss';
@import './modal.scss';
@import './inputs.scss';
@import './table.scss';
@import './clientCards.scss';

body {
  background-color: $body !important;

  div {
    @extend %Assistant;
  }
}

.homepage {
  @include grid(1em, initial, initial, auto, auto);
  @include md {
    height: 100vh;
    @include grid(1em, initial, initial, 286px auto, max-content);
  }
  background: $body;
  &__main-content {
    width: 100%;
    padding: 2em;
  }
}
/////////////
// MENU
////////////
.ant-menu-root {
  @include md {
    min-height: 100vh;
  }
  @extend %Assistant-Bold;
  .ant-menu-item-group-title {
    color: $fieldBorder;
  }
  .ant-menu-submenu-title {
    span {
      font-size: 20px;
      @include flex-row(flex-start, center);
    }
  }
  ul,
  div {
    font-size: 18px;
  }
  .ant-menu-item {
    font-size: 16px !important;
  }
}

.item-list {
  color: white;
  padding: 2em;
  @extend %fs20;
  div {
    input {
      color: black;
    }
  }
  &__container {
    border: 1px solid white;
    div {
      padding: 1em;
    }
    &[data-selected='true'] {
      background: green;
    }
  }
  button {
    margin-top: 1em;
  }
}
