
.defaultTable {
    position: relative;
    @extend %fs20;
    @include grid(0em, initial, initial, auto, auto);
    @include md {
      @include grid(0em, initial, initial, auto, auto);
    }
    tr {
      @include grid(0em, initial, initial, auto, auto);
      @include md {
        @include grid(0em, initial, initial, repeat(4, 25%), auto);
      }
    }
    th {
      color: $agoraGray;
      background: rgb(34, 26, 26);
      border: 1px solid $agoraBlack;
    }
    td {
      padding: 0.2em;
      border: 1px solid $agoraBlack;
      background: white;
      color: $agoraBlack;
    }
  }